<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.gizmodo.test.library.compose">

    <application>
        <activity
            android:name="com.github.gizmodo.test.app.ComposeActivity"
            android:exported="false" />
    </application>

</manifest>